/* CSS Variables for Light Theme */
/*.light-theme {
    --bg-primary: #ffffff;
    --bg-secondary: #f8fafc;
    --bg-tertiary: #f1f5f9;
    --text-primary: #0f172a;
    --text-secondary: #64748b;
    --text-muted: #94a3b8;
    --border-color: #e2e8f0;
    --shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
    --shadow-lg: 0 10px 15px -3px rgba(0, 0, 0, 0.1);
    --primary: #3b82f6;
    --primary-hover: #2563eb;
    --success: #10b981;
    --warning: #f59e0b;
    --danger: #ef4444;
    --info: #06b6d4;
    --accent: #8b5cf6;
}*/
.light-theme {
    --bg-primary: #ffffff;
    --bg-secondary: #a2bad7;
    --bg-tertiary: #f0f7ff;
    --bg-cancel-primary: #dc3545;
    --bg-task: #e6f2ff;
    --bg-sidebar-people: #c4d2e5;
    --bg-modal-table-primary: #ffffff;
    --bg-modal: #f9fcff;
    --text-primary: #1a202c;
    --text-secondary: #4a5568;
    --text-muted: #718096;
    --text-input-label: #6e727a;
    --border-color: #cbd5e0;
    --shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12);
    --shadow-lg: 0 10px 25px -5px rgba(0, 0, 0, 0.15);
    --primary: #4878b7;
    --primary-hover: #4878b7;
    --secondary-hover: #4878b7;
    --btn-create-primary: #f0f7ff;
    --all: #88919f;
    --success: #38a169;
    --warning: #d69e2e;
    --danger: #e53e3e;
    --info: #3182ce;
    --accent: #805ad5;
    --suspended: #537b8f;
    --review-client: #00BCD4;
    --icon-invert: 0%;
    --bs-body-color-rgb: 33, 37, 41;
    --header-text-shadow: 1px 1px 8px rgba(0, 0, 0, 0.2);
}

/* CSS Variables for Dark Theme */
.dark-theme {
    --text-h-primary: #f8fafc;
    --text-h-shadow-1-primary: #94a3b8;
    --text-h-shadow-2-primary: #f8fafc;
    --bg-primary: #0f172a;
    --bg-secondary: #1e293b;
    --bg-tertiary: #334155;
    --bg-cancel-primary: #dc3545;
    --bg-task: #1e293b;
    --bg-sidebar-people: #1e293b;
    --bg-modal-table-primary: #1e293b;
    --bg-modal: #262f3c;
    --text-primary: #f8fafc;
    --text-secondary: #cbd5e1;
    --text-muted: #94a3b8;
    --text-input-label: #cbd5e1;
    --border-color: #334155;
    --shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.3);
    --shadow-lg: 0 10px 15px -3px rgba(0, 0, 0, 0.3);
    --primary: #4878b7;
    --primary-hover: #2563eb;
    --secondary-hover: #4878b7;
    --btn-create-primary: #4878b7;
    --all: #334155;
    --success: #10b981;
    --warning: #f59e0b;
    --danger: #ef4444;
    --info: #06b6d4;
    --accent: #8b5cf6;
    --suspended: #537b8f;
    --review-client: #00BCD4;
    --icon-invert: 100%;
    --bs-body-color-rgb: 33, 37, 41;
    --header-text-shadow: 1px 1px 0 var(--text-h-shadow-1-primary),
        1px 1px 0 var(--text-h-shadow-2-primary),
        3px 4px 5px rgba(0, 0, 0, 0.3);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
    background-color: var(--bg-primary);
    color: var(--text-primary);
    transition: all 0.3s ease;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px var(--bg-primary) inset !important;
    transition: background-color 9999s ease-in-out 0s;
    -webkit-text-fill-color: var(--text-primary) !important;
}

.bg-remove-person {
    background: #ff7481 !important;
}

.modal::-webkit-scrollbar-track,
.modal-form::-webkit-scrollbar-track,
.task-list::-webkit-scrollbar-track,
.people-list::-webkit-scrollbar-track,
.people-sidebar::-webkit-scrollbar-track,
.history-list::-webkit-scrollbar-track,
.modal-body-table::-webkit-scrollbar-track,
.status-summary::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 6px;
    background-color: #F5F5F5;
}

.modal::-webkit-scrollbar,
.modal-form::-webkit-scrollbar,
.task-list::-webkit-scrollbar,
.people-sidebar::-webkit-scrollbar,
.people-list::-webkit-scrollbar,
.history-list::-webkit-scrollbar,
.modal-body-table::-webkit-scrollbar,
.status-summary::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    background-color: #F5F5F5;
    border-radius: 10px;
}

.modal::-webkit-scrollbar-thumb,
.modal-form::-webkit-scrollbar-thumb,
.task-list::-webkit-scrollbar-thumb,
.people-sidebar::-webkit-scrollbar-thumb,
.people-list::-webkit-scrollbar-thumb,
.history-list::-webkit-scrollbar-thumb,
.modal-body-table::-webkit-scrollbar-thumb,
.status-summary::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #b0c4de;
}

.notification {
    position: fixed;
    top: 70px;
    right: 16px;
    background: var(--success);
    color: white;
    padding: 1rem 2rem 1rem 2rem;
    border-radius: 8px;
    box-shadow: var(--shadow-lg);
    z-index: 2000;
    animation: slideIn 0.3s ease;
}

.required {
    color: red;
    position: relative;
    top: -2px;
    left: 2px;
}

.loader_dots {
    width: 15px;
    aspect-ratio: 1;
    border-radius: 50%;
    animation: l5 1s infinite linear alternate;
    position: absolute;
    z-index: 10000;
    top: 50%;
    left: 50%;
}

#modalError {
    top: 50px;
    z-index: 9999;
}

#modalError .modal-dialog {
    display: flex;
    justify-content: center;
}

#modalError .modal-header {
    border-bottom: none;
    padding: 0px;
}

#modalError .me-2 {
    width: 20px;
    height: 20px;
}

#modalError .modal-header h1 {
    width: 100%;
}

#modalError .modal-header .alert {
    margin: unset;
}

.search-input,
.status-select,
.priority-select,
.select {
    padding: 0.5rem 1.8rem 0.5rem 0.5rem;
    border: 1px solid var(--border-color);
    border-radius: 6px;
    background-color: var(--bg-primary);
    color: var(--text-primary);
    font-size: 0.875rem;
}

.search-input {
    /* width: 300px; */
    border-radius: 0;
    padding: 0.5rem 0.5rem 0.5rem 0.8rem;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    border-right: none;
}

.search-input:focus,
.search-input:focus-visible {
    outline: none;
}

/* Header */
.header {
    height: 54px;
    padding: 0.5rem 0;
    position: sticky;
    top: 0;
    z-index: 100;
    box-shadow: 0 2px 4px #959ca7;
    background-color: var(--bg-secondary);
    /* background: linear-gradient(360deg, var(--bg-secondary), transparent); */
}

.header-text {
    cursor: pointer;
}

.header-content {
    margin: 0 auto;
    padding: 0 1.5rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
}

.header h1 {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    gap: 0.5rem;
    font-family: math;
    font-weight: 400;
    margin: 0;
    color: var(--text-h-primary);
    font-size: 32px;
    text-shadow: var(--header-text-shadow);
}

.header .logo_img {
    width: 38px;
    height: 38px;
}

.header .sub-title {
    display: none;
}

.header-actions {
    display: flex;
    align-items: center;
    right: 20px;
    position: fixed;
    gap: 1rem;
}

.header .dropdown .dropdown-item {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    gap: 0.4rem;
    line-height: 1.5;
    cursor: pointer;
}

/* Theme Toggle */
.theme-toggle {
    display: flex;
    align-items: center;
}

.theme-icon {
    font-size: 24px;
}

.theme-icon-light {
    display: none;
}

/* Dropdown */
.dropdown-menu,
.dropdown-menu .dropdown-item {
    background-color: var(--bg-tertiary) !important;
    color: var(--text-primary);
    cursor: pointer;
}

.dropdown-menu .dropdown-item:hover {
    background: var(--bg-primary) !important;
}

/* Buttons */
.btn {
    display: inline-flex;
    align-items: center;
    color: var(--text-primary);
    gap: 0.5rem;
    /* padding: 0.5rem 1rem; */
    padding: 0.5rem 0.6rem;
    border: none;
    border-radius: 6px;
    /* font-size: 0.875rem; */
    font-weight: 500;
    cursor: pointer;
    transition: all 0.25s ease;
    text-decoration: none;
}

.btn-header {
    text-align: center;
    /* border: 1px solid var(--border-color) !important; */
    /* padding: 0.5rem 0.6rem; */
    /* color: var(--text-primary); */
    line-height: 1.2;
    /* background: var(--bg-tertiary) !important; */
    background: linear-gradient(180deg, var(--bg-tertiary), transparent);
    box-shadow: 0 2px 12px rgba(47, 79, 79, 0.4);
    transition: all 0.25s ease-in-out;
    font-size: 14px;
}

.btn-header:hover {
    /* background: var(--bg-primary); */
    /* transform: scale(1.05); */
    box-shadow: 0 1px 6px darkslategray;
}

.btn-primary {
    /* background: var(--btn-create-primary); */
    /* color: black; */
    border-color: dimgray;
    line-height: 1.2;
    /* box-shadow: 0 1px 6px darkslategray; */
    /* border-radius: 6px; */
    background: linear-gradient(180deg, var(--btn-create-primary), transparent);
    box-shadow: 0 2px 12px rgba(47, 79, 79, 0.4);
    transition: all 0.25s ease-in-out;
}

.btn-primary:hover {
    box-shadow: 0 1px 6px darkslategray;
    /* background: var(--primary-hover); */
    transform: translateY(-1px);
}

.btn-primary:focus-visible {
    background: var(--primary-hover);
    transform: translateY(-1px);
    color: var(--bs-btn-hover-color);
    box-shadow: 0 1px 6px darkslategray;
    border-color: dimgray;
}

.btn-primary.modal-cancel:hover {
    background: var(--bg-cancel-primary);
}

.btn-secondary {
    background: var(--bg-tertiary);
    /* color: var(--text-primary); */
    border: 1px solid var(--border-color);
}

.btn-secondary:hover {
    background: var(--secondary-hover);
}

.btn-save:hover {
    background: var(--success);
}

.btn-search {
    position: relative;
    left: -1px;
    padding: 0.5rem 0.6rem;
    border: 1px solid var(--border-color) !important;
    background-color: var(--bg-primary) !important;
    border-radius: 0;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    border-left: none !important;
}

.btn-icon {
    font-size: 1rem;
    font-weight: bold;
}

/* Main Layout */
.main-container {
    display: flex;
    min-height: calc(100vh - 54px);
    height: calc(100vh - 54px);
    overflow: clip;
}

/* Calendar Sidebar */
.calendar-content{
    display: none;
}

/* People Sidebar */
.people-sidebar {
    max-width: 300px;
    background: linear-gradient(90deg, var(--bg-sidebar-people), transparent);
    border-right: 1px solid var(--border-color);
    padding: 1.0rem 0.5rem 1.0rem 1.0rem;
    z-index: 1;
    box-shadow: 4px 0 12px rgba(0, 0, 0, 0.15);
    opacity: 1;
    transition: opacity .2s ease;
}

.people-sidebar-toggle-btn {
    border: none;
    background: none;
    line-height: 0;
    margin-top: 10px;
}

.people-sidebar h2 {
    font-size: 1.2rem;
    font-weight: 400;
    margin-bottom: 1rem;
    color: var(--text-primary);
}

.people-sidebar .search {
    margin-bottom: 15px;
    width: 100%;
}

.people-sidebar .search-input {
    width: 100%;
}

.people-sidebar-count {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    font-weight: 400;
    font-size: 16px;
    height: 22px;
    margin-bottom: 10px;
}

.people-sidebar-count span {
    font-weight: 600;
    font-size: 12px;
    padding: 4px;
    line-height: 1.2;
    height: 22px;
    width: 30px;
    background: #4878b7;
    color: #ffffff;
    border-radius: 6px;
    text-align: center;
}

.people-sidebar-footer {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    border-top: 1px solid var(--border-color);
    margin-top: 5px;
    /* line-height: 3; */
    align-items: center;
}

.people-sidebar-footer-info {
    font-size: 12px;
    display: flex;
    gap: 0.2rem;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-top: 10px;
}

.people-sidebar.collapsed {
    width: max-content;
}

.people-sidebar.collapsed .people-sidebar-footer-info,
.people-sidebar.collapsed .people-sidebar-count,
.people-sidebar.collapsed .person-icon,
.people-sidebar.collapsed .person-name,
.people-sidebar.collapsed .person-position,
.people-sidebar.collapsed .search {
    display: none;
}

.people-sidebar.collapsed .person-position-short,
.people-sidebar.collapsed .person-name-short {
    display: block;
}

.people-sidebar.collapsed .people-list {
    height: calc(100vh - 114px);
    width: max-content;
}

.people-list {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    overflow: overlay;
    position: relative;
    height: calc(100vh - 200px);
    padding-right: 3px;
}

.person-item {
    display: flex;
    align-items: center;
    gap: 0.75rem;
    padding: 0.5rem 1rem;
    /* background: var(--bg-primary); */
    /* border: 1px solid var(--border-color); */
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.2s ease;
    background: linear-gradient(90deg, var(--bg-primary), var(--bg-tertiary));
    box-shadow: 0 2px 4px rgba(0, 0, 0, .15), inset 0 1px 0 rgba(255, 255, 255, .8);
}

.person-item:hover {
    /* background: var(--bg-tertiary); */
    background: linear-gradient(145deg, var(--bg-primary), var(--bg-tertiary));
    transform: translateY(-1px);
}

.person-item.active {
    background: var(--primary);
    color: white;
    border-color: var(--primary);
}

.person-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
}

.person-icon img {
    width: 32px;
    height: 32px;
}

.person-name,
.person-name-short {
    font-weight: 500;
}

.person-position,
.person-position-short {
    font-size: 12px;
}

.person-position-short,
.person-name-short {
    display: none;
}

/* Task Content */
.task-section {
    height: 100%;
}

.task-list-container {
    height: calc(100vh - 250px);
}

.task-content {
    width: 100vh;
    flex: 1;
    padding: 1.0rem 1.0rem 1.0rem 1.5rem;
    background: var(--bg-tertiary);
}

.empty-state {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 90px);
    text-align: center;
    gap: 0.5rem;
}

.empty-icon {
    font-size: 4rem;
    /* margin-bottom: 1rem; */
}

.empty-icon img {
    width: 200px;
}

.empty-state h3 {
    font-size: 1.25rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
    color: var(--text-primary);
}

.empty-state p {
    color: var(--text-secondary);
}

/* Task Section */
.task-header {
    display: flex;
    gap: 1rem;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 1.5rem;
}

.task-header-info h2 {
    font-size: 1.4rem;
    font-weight: 600;
    margin-bottom: 0.2rem;
    color: var(--text-primary);
}

.task-header-info p {
    color: var(--text-secondary);
    margin-bottom: 0rem;
    font-size: 14px;
}

.search {
    display: inline-flex;
    flex-wrap: nowrap;
}

.invert-icon {
    width: 18px;
    height: 18px;
    filter: invert(var(--icon-invert));
    color: var(--text-primary);
}

.status-select {
    min-width: 130px;
}

.priority-select {
    min-width: 130px;
}

/* Task Statuses */
.status-summary {
    display: flex;
    flex-wrap: nowrap;
    gap: 10px;
    width: 100%;
    margin-bottom: 1.5rem;
    flex-direction: row;
    overflow: overlay;
    padding-bottom: 3px;
}

.status-chip {
    display: flex;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    padding: 10px 12px;
    border: 1px solid var(--border-color);
    border-radius: 12px;
    background: var(--bg-primary);
    color: var(--text-secondary);
    cursor: pointer;
    transition: all .2s ease;
    font-size: 12px;
    font-weight: 500;
}

.status-chip:hover {
    /* background: var(--bg-tertiary); */
    border-color: var(--primary);
}

.status-chip.active {
    background: var(--primary);
    border-color: var(--primary);
    color: white;
}

.status-info {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-start;
    color: var(--text-primary);
}

.status-icon {
    line-height: 1;
    padding: 10px;
    border-radius: 8px;
}

.status-icon img {
    width: 18px;
    height: 18px;
    filter: invert(100%);
}

.status-title {
    color: var(--text-secondary);
    max-width: 75px;
    text-align: end;
    height: 22px;
}

.status-chip.active .status-title {
    color: white;
}

.status-count {
    position: relative;
    bottom: 0px;
    font-size: 18px;
    font-weight: 600;
    line-height: 1;
    color: var(--text-primary);
}

.status-chip.active .status-count {
    color: white;
}

.status-all {
    background: var(--all);
}

.status-active {
    background: var(--info);
}

.status-in-line {
    background: var(--info);
}

.status-work {
    background: var(--warning);
}

.status-review {
    background: var(--accent);
}

.status-review-client {
    background: var(--review-client);
}

.status-ready {
    background: var(--success);
}

.status-rejected {
    background: var(--danger);
}

.status-suspended {
    background: var(--suspended);
}

/* Task List */
.task-list {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 1rem;
    position: relative;
    height: 100%;
    overflow-x: hidden;
    padding-right: 3px;
}

.task-item {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 1rem;
    align-items: center;
    padding: 1rem 1.5rem;
    border-radius: 8px;
    transition: background-color 0.2s ease;
    border: 1px solid var(--border-color);
    border-left: 4px solid #4878b7;
    background: var(--bg-primary);
}

.task-item:last-child {
    margin-bottom: none;
}

.task-item:hover {
    /* background: var(--bg-task); */
    border-color: var(--primary);
}

.task-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    flex: 1;
    min-width: 0;
    word-wrap: break-word;
}

.task-title {
    width: 100%;
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
    color: var(--text-primary);
}

.task-item .task-description,
.task-item .task-project,
.task-item .task-source {
    width: 100%;
    display: inline-block;
    font-size: 0.875rem;
    color: var(--text-secondary);
    margin-bottom: 0.5rem;
}

.task-meta {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    font-size: 0.75rem;
    color: var(--text-secondary);
}

.task-meta-item-name {
    font-size: 0.75rem;
    font-weight: 500;
    padding-right: 5px;
    color: var(--text-muted);
}

.task-meta .meta {
    font-size: 0.8rem;
    color: var(--text-secondary);
}

.task-status {
    padding: 0.25rem 0.75rem;
    border-radius: 20px;
    font-size: 0.75rem;
    font-weight: 500;
    margin-left: 1rem;
}

.task-status.active {
    background: rgba(16, 185, 129, 0.1);
    color: var(--success);
}

.task-status.in-progress {
    background: rgba(59, 130, 246, 0.1);
    color: var(--primary);
}

.task-status.under-review {
    background: rgba(245, 158, 11, 0.1);
    color: var(--warning);
}

.task-status.under-review-client {
    background: rgba(245, 158, 11, 0.1);
    color: var(--warning);
}

.task-status.archive {
    background: rgba(148, 163, 184, 0.1);
    color: var(--text-muted);
}

.task-status.rejected {
    background: rgba(239, 68, 68, 0.1);
    color: var(--danger);
}

.task-actions {
    display: flex;
    flex-wrap: nowrap;
    height: stretch;
    gap: 0.5rem;
    flex-direction: column;
    align-items: flex-start;
}

.task-actions-select {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

/* .task-actions-btn {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    gap: 1rem;
}

.task-actions .btn {
    padding: 0.5rem 0.5rem;
    font-size: 0.75rem;
} */

.no-tasks {
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 3rem;
    color: var(--text-secondary);
}

.no-tasks-icon {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.task-menu {
    position: relative;
    height: stretch;
    top: 0;
    right: 0;
    line-height: 0;
}

.task-menu button {
    border: none;
    background: none;
}

.task-menu img {
    width: 20px;
    height: 20px;
}

.task-menu .dropdown-toggle::after {
    display: none;
}

#tasksPaginationWrapper {
    display: none;
    position: absolute;
    right: 20px;
    bottom: 15px;
}

.pagination {
    margin: 0;
    --bs-pagination-color: var(--text-primary);
    --bs-pagination-bg: var(--bg-primary);
    --bs-pagination-border-color: var(--border-color);
    --bs-pagination-hover-color: var(--text-primary);
    --bs-pagination-hover-bg: var(--secondary-hover);
    --bs-pagination-hover-border-color: var(--border-color);
    --bs-pagination-focus-color: var(--text-primary);
    --bs-pagination-focus-bg: var(--bg-primary);
    --bs-pagination-focus-box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
    --bs-pagination-active-color: #ffffff;
    --bs-pagination-active-bg: var(--secondary-hover);
    --bs-pagination-active-border-color: var(--border-color);
    --bs-pagination-disabled-color: var(--text-muted);
    --bs-pagination-disabled-bg: var(--bg-secondary);
    --bs-pagination-disabled-border-color: var(--border-color);
}

.pagination-sm {
    --bs-pagination-padding-x: 0.7rem;
}

/* Modals */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    padding: 2rem;
}

.modal.show {
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-content {
    background: var(--bg-modal);
    border-radius: 12px;
    box-shadow: var(--shadow-lg);
    width: 100%;
    max-width: 500px;
    max-height: 85vh;
    overflow-y: hidden;
    margin-top: 25px;
}

.modal-large {
    max-width: 800px;
}

.modal-fullscreen {
    max-width: 100%;
    max-height: 100%;
}

.modal-content.modal-fullscreen {
    border-radius: 12px;
    margin: 0;
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.8rem 1rem;
    border-bottom: 1px solid var(--border-color);
}

.modal-header h3 {
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--text-primary);
    margin: unset;
}

.modal-close {
    background: none;
    border: none;
    font-size: 1.4rem;
    cursor: pointer;
    color: var(--text-muted);
}

.modal-close:hover {
    color: var(--text-primary);
}

.modal-body {
    padding: 1.5rem;
}

.modal-form {
    padding: 1rem 1.5rem;
    overflow: overlay;
}

.modal-actions {
    display: flex;
    justify-content: flex-end;
    gap: 2rem;
    margin-top: 0.8rem;
}

#taskSource {
    color: rgba(var(--bs-link-color-rgb), var(--bs-link-opacity, 1));
}

/* Modal Persons */
.modal-fullscreen .modal-body {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 0;
    overflow: hidden;
}

.modal-body-header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1036;
    background: var(--bg-primary, #fff);
    padding: 1rem;
    color: var(--text-primary);
}

.modal-body-table {
    flex: 1 1 auto;
    overflow-y: auto;
    padding-top: var(--theadH, 0px);
    height: 100%;
    padding: 0 1rem 1rem 1rem;
    margin-bottom: 20px;
}

.table-persons {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
}

.table-persons thead th {
    position: sticky;
    top: var(--headerH, 0px);
    z-index: 1035;
    background: var(--bg-modal-table-primary, #fff);
    /* border-bottom: 2px solid var(--bs-border-color, #ddd); */
    color: var(--text-primary);
}

.table-persons tbody th,
.table-persons tbody td {
    background: var(--bg-modal-table-primary, #fff);
    color: var(--text-primary);
}

/* History Styles */
.history-filters {
    display: flex;
    gap: 1rem;
    align-items: center;
    margin-bottom: 1.5rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid var(--border-color);
}

.history-filters label {
    font-weight: 500;
    color: var(--text-primary);
}

.history-filters input {
    padding: 0.5rem;
    border: 1px solid var(--border-color);
    border-radius: 6px;
    background: var(--bg-primary);
    color: var(--text-primary);
}

.history-list {
    max-height: 400px;
    overflow-y: auto;
    padding-right: 3px;
    border-radius: 8px;
}

.history-item {
    padding: 1rem;
    margin-bottom: 4px;
    background: var(--bg-task);
    border-bottom: 1px solid var(--border-color);
    border-radius: 8px;
    transition: background-color 0.2s ease;
    word-wrap: break-word;
    font-size: 14px;
}

.history-item-info {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    align-items: flex-start;
}

.history-item:last-child {
    border-bottom: none;
}

.history-action {
    font-weight: 600;
    color: var(--primary);
    margin-bottom: 0.25rem;
}

.history-data {
    color: var(--text-secondary);
    margin-bottom: 0.5rem;
}

.history-timestamp {
    font-size: 0.75rem;
    color: var(--text-muted);
}

.history-data span,
.history-action span,
.history-timestamp span {
    font-weight: 500;
    margin-right: 5px;
}

.form-floating>label {
    padding: 0.8rem .75rem;
    color: var(--text-input-label);
}

.form-control {
    color: var(--text-primary);
    background-color: var(--bg-primary);
    border: var(--bs-border-width) solid var(--border-color);
}

.form-control:focus,
.form-select:focus {
    color: var(--text-primary);
    /* border-color: var(--border-color); */
    background-color: var(--bg-primary);
    box-shadow: 0 0 0 .1rem rgba(13, 110, 253, .25);
}

.form-floating>.form-control:not(:placeholder-shown) {
    padding-top: 2.5rem;
    padding-bottom: 1.4rem;
}

.form-floating>.form-control {
    height: calc(3.9rem + calc(var(--bs-border-width) * 2));
}

.form-floating>.form-control-plaintext~label::after,
.form-floating>.form-control:focus~label::after,
.form-floating>.form-control:not(:placeholder-shown)~label::after,
.form-floating>.form-select~label::after {
    background-color: var(--bg-primary);
    color: var(--text-input-label);
    /* color: rgba(var(--bs-body-color-rgb), .65); */
    transform: scale(.85) translateY(-.5rem) translateX(.15rem);
}

.form-floating>.form-control-plaintext~label,
.form-floating>.form-control:focus~label,
.form-floating>.form-control:not(:placeholder-shown)~label,
.form-floating>.form-select~label {
    /* color: rgba(var(--bs-body-color-rgb), .65); */
    color: var(--text-input-label);
    transform: scale(.85) translateY(-.5rem) translateX(.15rem);
}

.flatpickr {
    flex: 1;
    text-align: center;
    margin-left: 12px;
    cursor: pointer;
}

.flatpickr-div {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

.flatpickr-label {
    color: var(--text-input-label);
}

.sortFiltrBlock .d-inline-flex {
    margin-bottom: 5px;
}

#sortFiltr .card-body {
    display: -webkit-inline-box;
    width: 100%;
    margin-bottom: 15px;
}

#sortFiltr .form-check {
    margin-right: 0.5rem;
    padding-top: 4px;
    margin-bottom: 0px;
}

#sortFiltr .form-select {
    width: 90px;
    margin-right: 1.5rem;
}

.estimate {
    display: inline-flex;
    width: 100%;
    justify-content: flex-start;
    gap: 2rem;
    margin-top: 10px;
}

.estimate-item {
    display: flex;
    gap: 0.7rem;
    align-items: center;
    width: 50%;
}

.estimate-span,
.estimate label {
    color: var(--text-input-label);
}

.modal-form .column-data {
    display: flex;
    width: 100%;
    justify-content: space-between;
    gap: 1rem;
    flex-wrap: nowrap;
    flex-direction: row;
}

.modal-form .column-data div {
    width: 50%;
}

.hw24 {
    height: 24px;
    width: 24px;
}

.img-wifi-on,
.img-wifi-off {
    display: none;
}

.form-floating>.form-control,
.form-floating>.form-control-plaintext,
.form-floating>.form-select {
    height: calc(3.9rem + calc(var(--bs-border-width) * 2));
}

#settingsForm {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-start;
    gap: 1rem;
}

.settings-description {
    margin-left: 1rem;
}

#settingsForm .theme-toggle {
    border: none;
    background: none;
    box-shadow: none;
    padding: 0;
}

/* Responsive Design */
@media (max-width: 1024px) {
    .main-container {
        flex-direction: column;
    }

    .header {
        height: fit-content;
    }

    .header-content {
        padding: 0 1rem;
    }

    .header h1 {
        font-weight: 100;
        font-size: 18px;
        width: 150px;
    }

    .header .title,
    .header h1 .client-name,
    .header .theme-toggle,
    .header .wifi-status {
        display: none;
    }

    .header .logo_img {
        width: 32px;
        height: 32px;
    }

    .header .sub-title {
        display: block;
        line-height: 1;
    }

    .header .btn-header {
        line-height: 1.3;
    }

    .people-sidebar {
        width: 100%;
        max-width: none;
        border-right: none;
        border-bottom: 1px solid var(--border-color);
        padding: 0.5rem;
        background: linear-gradient(360deg, var(--bg-secondary), transparent);
        box-shadow: none;
    }

    .people-sidebar h2,
    .people-sidebar .search,
    .people-sidebar-count,
    #createTaskBtn span,
    .people-sidebar-footer {
        display: none;
    }

    .theme-icon {
        font-size: 22px;
    }

    .people-list {
        height: inherit;
        flex-direction: row;
        overflow-x: auto;
        gap: 0.5rem;
    }

    .person-item {
        min-width: fit-content;
        padding: 0.5rem 1rem;
        gap: 0.5rem;
    }

    .task-content {
        padding: 0.75rem;
        width: auto;
    }

    .task-header {
        flex-direction: column;
        gap: 0.5rem;
        margin-bottom: 1.2rem;
    }

    .task-header-info h2 {
        font-size: 1.2rem;
    }

    .task-header-info p {
        margin-bottom: 0.5rem;
        font-size: 12px;
    }

    .task-filters .search {
        width: 100%;
    }

    .task-stats {
        margin-bottom: 1rem;
    }

    .task-list {
        height: calc(100vh - 405px);
    }

    .task-item {
        position: relative;
        flex-direction: column;
        align-items: flex-start;
        gap: 0.75rem;
        padding: 0.5rem;
    }

    .task-title {
        width: 90%;
    }

    .task-menu {
        position: absolute;
        top: 12px;
        right: 10px;
        line-height: 0;
        height: 100%;
    }

    .task-actions {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 1rem;
        margin-left: 0px;
    }

    .task-actions .btn {
        padding: 0.7rem 0.7rem;
    }

    .task-actions-select {
        flex-direction: row;
        width: 100%;
    }

    .no-tasks {
        padding: 1rem;
    }

    .no-tasks h3 {
        font-size: 1.2rem;
    }

    .search-input {
        width: 100%;
        padding: 0.2rem;
        line-height: 1;
        padding-left: 10px;
    }

    .modal {
        padding: 1rem;
    }

    .modal-content {
        margin-top: 10px;
    }

    .modal-header {
        padding: 0.5rem;
    }

    .modal-header h3 {
        font-size: 1.2rem;
    }

    .modal-close {
        padding: 0px 10px;
    }

    .modal-body {
        padding: 0.75rem;
    }

    .modal-footer {
        align-items: center;
    }

    .modal-actions {
        margin-top: 0.5rem;
    }

    .modal-form {
        padding: 1rem;
        font-size: 0.8rem;
    }

    .modal-form .column-data {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
    }

    .modal-form .column-data div {
        width: 100%;
    }

    .btn-primary {
        padding: 0.4rem 0.8rem;
        font-size: 14px;
    }

    .history-item {
        font-size: 14px;
    }

    .history-timestamp {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
    }

    .modal::-webkit-scrollbar,
    .modal-form::-webkit-scrollbar,
    .task-list::-webkit-scrollbar,
    .people-sidebar::-webkit-scrollbar,
    .people-list::-webkit-scrollbar,
    .history-list::-webkit-scrollbar,
    .status-summary::-webkit-scrollbar {
        width: 6px;
        height: 6px;
        background-color: #F5F5F5;
        border-radius: 10px;
    }
}

@media (min-width: 365px) and (max-width: 660px) {
    .task-content {
        width: auto;
    }

    .task-list {
        height: calc(100vh - 365px);
    }
}

@media (min-width: 660px) and (max-width: 670px) {
    .task-content {
        width: auto;
    }

    .task-list {
        height: calc(100vh - 325px);
    }
}

@media (min-width: 670px) and (max-width: 1024px) {
    .task-content {
        width: auto;
    }

    .task-list {
        height: calc(100vh - 320px);
    }
}

@keyframes l5 {
    0% {
        box-shadow: 20px 0 #000, -20px 0 #0002;
        background: #000
    }

    33% {
        box-shadow: 20px 0 #000, -20px 0 #0002;
        background: #0002
    }

    66% {
        box-shadow: 20px 0 #0002, -20px 0 #000;
        background: #0002
    }

    100% {
        box-shadow: 20px 0 #0002, -20px 0 #000;
        background: #000
    }
}